/*
    Interactive Calculations component CSS
*/

#intercalc-main {
    overflow:hidden;
    width:900px;
    height:auto;
}
#intercalc-main div#intercalc_menu {
    width:900px;
    height:50px;
}
#intercalc-main div#intercalc_menu div {
    cursor: pointer;
    cursor:hand;
    float:left;
    padding:0px 20px;
    line-height:50px;
    height:50px;
    border-right:1px solid #ffffff;
}
#intercalc-main div#intercalc_menu div.selected {
    cursor: default;
}

.intercalc-property {
    width: 900px;
    display: block;
}

.intercalc-left {
    float:left;
    width:300px;
    height:auto;
}
.intercalc-left>h2	{
    margin-top:20px;
    text-align:left;
}
.intercalc-left>h3	{
    text-align:left;
}
.intercalc-left>p	{
    text-align:left;
}
.intercalc-left u	{
}
.intercalc-left img {
    display:block;
    margin:auto;
}
.intercalc-left button	{
    clear:both;
    /*margin:370px 0px 0px 240px;*/
    /*position:absolute;*/
    /*float:none;*/
    width:120px;
}

.intercalc-right {
    width:600px;
}
.intercalc-right>div	{
    z-index:1000;
    position:relative;
    float:right;
    /*height:90px;*/
    padding:15px 20px 15px 20px;
    line-height:16px;
    /*margin-top:310px;*/
}
.intercalc-right>div h2	{
}
.intercalc-right>img	{
    margin-top:-410px;
    position:relative;
}

.radiobox1 {
    position:absolute;
    width:150px;
    height:150px;
}
.radiobox1 input {
    width:150px;
    height:150px;
}
.radiobox1 span	{
    width:150px;
    height:150px;
    background: url(images/radio.png) no-repeat;
}
.radiobox2 {
    position:absolute;
    width:100px;
    height:100px;
}
.radiobox2 input {
    width:100px;
    height:100px;
}
.radiobox2 span	{
    width:100px;
    height:100px;
    background: url(images/radio-small.png) no-repeat;
}
